@tailwind base;
@tailwind components;
@tailwind utilities;

/* normal css for the body  */
/* so you can write normal css here that will apply to html tags?  */
body {
  background-color: #000300;
}

/* .nav-links {
  min-width: 80px;
  text-align: center;
} */

/* custom class created  */
.papayawhip {
  color: coral;
}

.max-height {
  height: calc(100vh - 96px);
}
